@import "../../../styles/variables";
@import "../../../styles/mixins";

.billPaySection {
  @include pxToRem(padding, 15);

  .monthlyBudget {
    @include pxToRem(padding-top, 15);
    @include pxToRem(padding-bottom, 15);

    input {
      @include pxToRem(margin-left, 10);
    }
  }
}